/**
 * @defgroup   CUSTOM custom
 *
 * @brief      This file implements custom.
 *
 * @author     Amirul
 * @date       2021
 */
.img-100 {
    height: 100px;
    width: 100px;
}
.callout.callout-navy {
  border-left-color: #001f3f;
}
.dark-mode .callout.callout-navy {
  border-left-color: #002c59;
}
.datepicker {
    float: right;
    margin-right: 8px;
    margin-top: 15px;
    position: relative;
    z-index: 2;
}
.swal2-overflow {
  overflow-x: visible;
  overflow-y: visible;
}