.right-bar {
    position: absolute;
    right: 0;
    width: 280px;
    height: 100%;
}
.profile {
    padding: 20px;
    margin-top: 15px;
    text-align: center;
}
.profile img {
    margin-bottom: 15px;
}
.profile .name {
    font-size: 32px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
}
.profile .tagline {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}
.container-block {
    margin-top: 5px;
    padding: 20px;
}
.container-block-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
}
.contact-social .contact-list li {
    margin-bottom: 10px;
}
.contact-social .contact-list li:last-child {
    margin-bottom: 0;
}
.contact-social .contact-list .phone i {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle;
}
.contact-social .contact-list .email i {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle;
}
.contact-social .contact-list .website i {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle;
}
.contact-social .contact-list .social i {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle;
}
.education .item {
    margin-bottom: 15px;
}
.education .item:last-child {
    margin-bottom: 0;
}
.education .item .degree {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
}
.education .item .institution {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0;
}
.education .item .year {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    margin-bottom: 0px;
}
.language .language-list {
    margin-bottom: 0;
}
.language .language-list li {
    margin-bottom: 10px;
}
.language .language-list li:last-child {
    margin-bottom: 0;
}
.language .language-list .lang-proficiency {
    color: rgba(255, 255, 255, 0.6);
}
.interest .interest-list {
    margin-bottom: 0;
}
.interest .interest-list li {
    margin-bottom: 10px;
}
.interest .interest-list li:last-child {
    margin-bottom: 0;
}
.left-bar {
    padding: 30px;
    padding-right: 315px;
    height:  100%;
    min-height: 1000px;
}
.section {
    margin-bottom: 20px;
}
.section .section-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
}
.section .section-title i {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
    padding-top: 8px;
    font-size: 16px;
    position: relative;
    top: -2px;
}
.section-objective .summary p {
    text-align: justify;
}
.section-experience .item {
    margin-bottom: 30px;
}
.section-experience .upper-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
}
.section-experience .upper-row .job-title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}
.section-experience .upper-row .time {
    position: absolute;
    right: 0;
    top: 0;
}
.section-experience .upper-row .company {
    margin-bottom: 10px;
}
.section-experience .item .details p {
    text-align: justify;
}
.section-project .intro {
    margin-bottom: 30px;
}
.section-project .intro p {
    text-align: justify;
}
.section-project .item {
    margin-bottom: 15px;
    text-align: justify;
}
.section-project .item .project-title {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}
.section-skill .skillset .item {
    margin-bottom: 10px;
    overflow: hidden;
}
.section-skill .skillset .item .skill-title {
    font-size: 14px;
    margin-top: 0;
    display: inline-block;
    float: left;
    width: 30%;
    margin-bottom: 0;
}
.section-skill .skillset .item .skill-level {
    height: 12px;
    display: inline-block;
    width: 70%;
    float: left;
    position: relative;
    top: 1px;
    margin-bottom: 10px;
}
.section-skill .skillset .item .level-bar-inner {
    height: 12px;
}
/*@media (min-width: 992px) {
    .section-skill .skillset .item .skill-title {
        display: inline-block;
        float: left;
        width: 30%;
        margin-bottom: 0;
    }
    .section-skill .skillset .item .skill-level {
        display: inline-block;
        width: 70%;
        float: left;
        position: relative;
        top: 1px;
        margin-bottom: 10px;
    }
}*/